@font-face {
    font-family: Inter-Regular;
    src: url('../font/Inter-Regular.otf');
}

@font-face {
    font-family: Sora-Regular;
    src: url('../font/Sora-Regular.ttf');
}

@font-face {
    font-family: manrope-regular;
    src: url('../font/manrope-regular.otf');
}